<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Authorize Application</title>
  </head>

  <body>
    <h1>Hi, {{name}}!</h1>
    <p>
      {{text}}
    </p>
    <p>client id: {{client_id}}</p>
    <p>response_type: {{response_type}}</p>
    <p>
      scope: {{#with scope as |scope|}} {{scope}} {{else}} Not Found {{/with}}
    </p>
  </body>
  <form action="/authorize" accept-charset="UTF-8" method="post">
    <input
      type="hidden"
      name="client_id"
      id="client_id"
      value="{{ client_id }}"
    />
    <input
      type="hidden"
      name="state"
      id="state"
      value="97ee1ab91db791c6461dbe337fb90bc6"
    />
    <input type="hidden" name="scope" id="scope" value="user:email" />
    <button type="submit" name="authorize" value="1">
      Authorize ElephantSQL
    </button>
  </form>
</html>
