<html>
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="signin">
      <h1>Sign In</h1>
      <form class="signin-form" method="POST">
        <input
          id="signin-id"
          name="username"
          type="text"
          value=""
          placeholder="email"
        />
        <input
          id="signin-password"
          name="password"
          type="password"
          value=""
          placeholder="password"
        />
        <button type="submit">Sign In</button>
      </form>
    </div>
  </body>
</html>
