<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <div class="signup">
      <h1>Sign Up</h1>
      <form class="signup-form" method="POST">
        <input
          id="signup-id"
          name="username"
          type="text"
          value=""
          placeholder="email"
        />
        <input
          id="signup-password"
          name="password"
          type="password"
          value=""
          placeholder="password"
        />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
